body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:-webkit-linear-gradient(270deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3982 {
  position:absolute;
  left:140px;
  top:36px;
  width:89px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:0px;
  top:77px;
  width:360px;
  height:72px;
}
#u3985_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985.mouseDown {
}
#u3986 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3987 {
  position:absolute;
  left:9px;
  top:84px;
  width:60px;
  height:60px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3989 {
  position:absolute;
  left:99px;
  top:102px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3989_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3989.mouseDown {
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:0px;
  top:155px;
  width:360px;
  height:429px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:206px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3993 {
  position:absolute;
  left:42px;
  top:173px;
  width:73px;
  height:22px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3995 {
  position:absolute;
  left:8px;
  top:170px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u3996 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:268px;
  width:360px;
  height:1px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3999 {
  position:absolute;
  left:42px;
  top:225px;
  width:73px;
  height:22px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u4001 {
  position:absolute;
  left:8px;
  top:326px;
  width:352px;
  height:1px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u4004 {
  position:absolute;
  left:42px;
  top:287px;
  width:37px;
  height:22px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4006 {
  position:absolute;
  left:8px;
  top:284px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u4007 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4008 {
  position:absolute;
  left:8px;
  top:222px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u4009 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:209px;
  width:360px;
  height:1px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(10, 126, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u4015 {
  position:absolute;
  left:252px;
  top:6px;
  width:100px;
  height:13px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:512px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:248px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u4022 {
  position:absolute;
  left:140px;
  top:36px;
  width:89px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4024 {
  position:absolute;
  left:8px;
  top:37px;
  width:24px;
  height:24px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:147px;
  width:360px;
  height:1px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4028 {
  position:absolute;
  left:16px;
  top:99px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4030 {
  position:absolute;
  left:284px;
  top:80px;
  width:60px;
  height:60px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4032 {
  position:absolute;
  left:0px;
  top:203px;
  width:360px;
  height:1px;
}
#u4033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4034 {
  position:absolute;
  left:16px;
  top:165px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4036 {
  position:absolute;
  left:294px;
  top:165px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:252px;
  width:360px;
  height:1px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4040 {
  position:absolute;
  left:16px;
  top:214px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4042 {
  position:absolute;
  left:304px;
  top:214px;
  width:17px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4044 {
  position:absolute;
  left:0px;
  top:301px;
  width:360px;
  height:1px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4046 {
  position:absolute;
  left:16px;
  top:263px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4048 {
  position:absolute;
  left:284px;
  top:263px;
  width:49px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.698039215686274);
  text-align:left;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4051 {
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4054 {
  position:absolute;
  left:304px;
  top:593px;
  width:24px;
  height:24px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4056 {
  position:absolute;
  left:304px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4059 {
  position:absolute;
  left:213px;
  top:593px;
  width:24px;
  height:24px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4061 {
  position:absolute;
  left:213px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4064 {
  position:absolute;
  left:31px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4066 {
  position:absolute;
  left:31px;
  top:593px;
  width:24px;
  height:24px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4069 {
  position:absolute;
  left:122px;
  top:593px;
  width:24px;
  height:24px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4072 {
  position:absolute;
  left:122px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4075 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:512px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:248px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4077 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u4079 {
  position:absolute;
  left:162px;
  top:36px;
  width:45px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4081 {
  position:absolute;
  left:8px;
  top:37px;
  width:24px;
  height:24px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4083 {
  position:absolute;
  left:0px;
  top:147px;
  width:360px;
  height:1px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4085 {
  position:absolute;
  left:16px;
  top:99px;
  width:81px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:203px;
  width:360px;
  height:1px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4089 {
  position:absolute;
  left:16px;
  top:166px;
  width:41px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
