body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:62px;
}
#u2388 {
  position:absolute;
  left:2px;
  top:23px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009943;
  text-align:left;
}
#u2389 {
  position:absolute;
  left:43px;
  top:19px;
  width:121px;
  height:25px;
  color:#009943;
  text-align:left;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2391 {
  position:absolute;
  left:1297px;
  top:10px;
  width:42px;
  height:42px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:256px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:43px;
  top:86px;
  width:1290px;
  height:256px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:120px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009943;
  text-align:left;
}
#u2395 {
  position:absolute;
  left:623px;
  top:117px;
  width:121px;
  height:25px;
  color:#009943;
  text-align:left;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 67, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009943;
}
#u2397 {
  position:absolute;
  left:307px;
  top:227px;
  width:160px;
  height:58px;
  font-size:20px;
  color:#009943;
}
#u2398 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 67, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009943;
}
#u2399 {
  position:absolute;
  left:930px;
  top:227px;
  width:160px;
  height:58px;
  font-size:20px;
  color:#009943;
}
#u2400 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  position:absolute;
  left:43px;
  top:374px;
  width:1290px;
  height:718px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:351px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009943;
  text-align:left;
}
#u2403 {
  position:absolute;
  left:83px;
  top:396px;
  width:121px;
  height:25px;
  color:#009943;
  text-align:left;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 67, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009943;
}
#u2405 {
  position:absolute;
  left:1137px;
  top:394px;
  width:69px;
  height:30px;
  font-size:16px;
  color:#009943;
}
#u2406 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u2407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 67, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009943;
}
#u2407 {
  position:absolute;
  left:1228px;
  top:394px;
  width:69px;
  height:30px;
  font-size:16px;
  color:#009943;
}
#u2408 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
