body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7948 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
}
#u7949 {
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7950 {
  position:absolute;
  left:1233px;
  top:16px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u7951 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7952 {
  position:absolute;
  left:1158px;
  top:27px;
  width:14px;
  height:14px;
  opacity:0.449999988079071;
}
#u7953 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u7954 {
  position:absolute;
  left:304px;
  top:0px;
  width:105px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u7955 {
  position:absolute;
  left:24px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u7956 {
  position:absolute;
  left:1182px;
  top:0px;
  width:53px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u7957 {
  position:absolute;
  left:2px;
  top:22px;
  width:49px;
  word-wrap:break-word;
}
#u7958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u7958 {
  position:absolute;
  left:1273px;
  top:0px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u7959 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u7960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u7960 {
  position:absolute;
  left:126px;
  top:20px;
  width:121px;
  height:25px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7961 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7962 {
  position:absolute;
  left:116px;
  top:64px;
  width:300px;
  height:33px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7963 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u7964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:777px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7964 {
  position:absolute;
  left:340px;
  top:94px;
  width:984px;
  height:777px;
}
#u7965 {
  position:absolute;
  left:2px;
  top:380px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:24px;
}
#u7967 {
  position:absolute;
  left:364px;
  top:115px;
  width:109px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:24px;
}
#u7968 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7969 {
  position:absolute;
  left:409px;
  top:177px;
  width:847px;
  height:45px;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7971 {
  position:absolute;
  left:16px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
}
#u7972 {
  position:absolute;
  left:133px;
  top:0px;
  width:394px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7973 {
  position:absolute;
  left:16px;
  top:12px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u7974 {
  position:absolute;
  left:527px;
  top:0px;
  width:82px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7975 {
  position:absolute;
  left:16px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u7976 {
  position:absolute;
  left:609px;
  top:0px;
  width:233px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7977 {
  position:absolute;
  left:16px;
  top:12px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7978 {
  position:absolute;
  left:409px;
  top:255px;
  width:842px;
  height:160px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7979 {
  position:absolute;
  left:16px;
  top:2px;
  width:810px;
  word-wrap:break-word;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7980 {
  position:absolute;
  left:409px;
  top:216px;
  width:842px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7981 {
  position:absolute;
  left:16px;
  top:11px;
  width:810px;
  word-wrap:break-word;
}
#u7982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7982 {
  position:absolute;
  left:409px;
  top:414px;
  width:842px;
  height:100px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7983 {
  position:absolute;
  left:16px;
  top:2px;
  width:810px;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:777px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7984 {
  position:absolute;
  left:116px;
  top:94px;
  width:224px;
  height:777px;
}
#u7985 {
  position:absolute;
  left:2px;
  top:380px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986 {
  position:absolute;
  left:116px;
  top:108px;
}
#u7986_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7989 {
  position:absolute;
  left:48px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:24px;
  top:15px;
  width:12px;
  height:12px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7986_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
}
#u7993 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0E7BCC;
  text-align:left;
}
#u7994 {
  position:absolute;
  left:48px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7995 {
  position:absolute;
  left:24px;
  top:15px;
  width:12px;
  height:12px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:42px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7997 {
  position:absolute;
  left:222px;
  top:0px;
  width:1px;
  height:42px;
}
#u7998 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7999 {
  position:absolute;
  left:116px;
  top:150px;
}
#u7999_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7999_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
}
#u8001 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#03A9F4;
  text-align:left;
}
#u8002 {
  position:absolute;
  left:48px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8003 {
  position:absolute;
  left:24px;
  top:15px;
  width:12px;
  height:12px;
}
#u8004 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:42px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8005 {
  position:absolute;
  left:222px;
  top:0px;
  width:1px;
  height:42px;
}
#u8006 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7999_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7999_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
}
#u8008 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8009 {
  position:absolute;
  left:48px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u8010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8010 {
  position:absolute;
  left:24px;
  top:15px;
  width:12px;
  height:12px;
}
#u8011 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8013 {
  position:absolute;
  left:800px;
  top:662px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8014 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u8015 {
  position:absolute;
  left:409px;
  top:513px;
  width:847px;
  height:45px;
}
#u8016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u8016 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8017 {
  position:absolute;
  left:16px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u8018 {
  position:absolute;
  left:82px;
  top:0px;
  width:179px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8019 {
  position:absolute;
  left:16px;
  top:11px;
  width:147px;
  word-wrap:break-word;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u8020 {
  position:absolute;
  left:261px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8021 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u8022 {
  position:absolute;
  left:341px;
  top:0px;
  width:233px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8023 {
  position:absolute;
  left:16px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8024 {
  position:absolute;
  left:574px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8025 {
  position:absolute;
  left:16px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8026 {
  position:absolute;
  left:682px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8027 {
  position:absolute;
  left:16px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8028 {
  position:absolute;
  left:409px;
  top:552px;
  width:847px;
  height:45px;
}
#u8029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u8029 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8030 {
  position:absolute;
  left:16px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u8031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u8031 {
  position:absolute;
  left:109px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8032 {
  position:absolute;
  left:16px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u8033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u8033 {
  position:absolute;
  left:261px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8034 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u8035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u8035 {
  position:absolute;
  left:341px;
  top:0px;
  width:233px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8036 {
  position:absolute;
  left:16px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u8037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8037 {
  position:absolute;
  left:574px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8038 {
  position:absolute;
  left:16px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u8039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8039 {
  position:absolute;
  left:682px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8040 {
  position:absolute;
  left:16px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u8041 {
  position:absolute;
  left:409px;
  top:591px;
  width:847px;
  height:45px;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
#u8042 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8043 {
  position:absolute;
  left:16px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u8044 {
  position:absolute;
  left:131px;
  top:0px;
  width:130px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8045 {
  position:absolute;
  left:16px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u8046 {
  position:absolute;
  left:261px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8047 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u8048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u8048 {
  position:absolute;
  left:341px;
  top:0px;
  width:233px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8049 {
  position:absolute;
  left:16px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8050 {
  position:absolute;
  left:574px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8051 {
  position:absolute;
  left:16px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8052 {
  position:absolute;
  left:682px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8053 {
  position:absolute;
  left:16px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
