body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:-webkit-linear-gradient(270deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017 {
  position:absolute;
  left:0px;
  top:71px;
  width:360px;
  height:513px;
  overflow:hidden;
  touch-action:none;
}
#u2017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2018_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2018_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:212px;
  width:360px;
  height:1px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:8px;
  top:8px;
  width:57px;
  height:18px;
  text-align:left;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2023 {
  position:absolute;
  left:0px;
  top:668px;
}
#u2023_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2023_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:155px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2026 {
  position:absolute;
  left:8px;
  top:40px;
  width:168px;
  height:109px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2028 {
  position:absolute;
  left:8px;
  top:157px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2030 {
  position:absolute;
  left:184px;
  top:40px;
  width:168px;
  height:109px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2032 {
  position:absolute;
  left:184px;
  top:157px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2034 {
  position:absolute;
  left:8px;
  top:182px;
  width:168px;
  height:109px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2036 {
  position:absolute;
  left:8px;
  top:299px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2038 {
  position:absolute;
  left:184px;
  top:182px;
  width:168px;
  height:109px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2040 {
  position:absolute;
  left:184px;
  top:299px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2023_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2023_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2044 {
  position:absolute;
  left:8px;
  top:42px;
  width:168px;
  height:109px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2046 {
  position:absolute;
  left:8px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2048 {
  position:absolute;
  left:184px;
  top:42px;
  width:168px;
  height:109px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2050 {
  position:absolute;
  left:184px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2052 {
  position:absolute;
  left:8px;
  top:184px;
  width:168px;
  height:109px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2054 {
  position:absolute;
  left:8px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2056 {
  position:absolute;
  left:184px;
  top:184px;
  width:168px;
  height:109px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2058 {
  position:absolute;
  left:184px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2060 {
  position:absolute;
  left:8px;
  top:326px;
  width:168px;
  height:109px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2062 {
  position:absolute;
  left:8px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2064 {
  position:absolute;
  left:184px;
  top:326px;
  width:168px;
  height:109px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2066 {
  position:absolute;
  left:184px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2068 {
  position:absolute;
  left:8px;
  top:468px;
  width:168px;
  height:109px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2070 {
  position:absolute;
  left:8px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2072 {
  position:absolute;
  left:184px;
  top:468px;
  width:168px;
  height:109px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2074 {
  position:absolute;
  left:184px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2076 {
  position:absolute;
  left:328px;
  top:674px;
}
#u2076_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2076_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2078 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2076_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2080 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081 {
  position:absolute;
  left:0px;
  top:334px;
}
#u2081_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2081_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:155px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2084 {
  position:absolute;
  left:8px;
  top:40px;
  width:168px;
  height:109px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2086 {
  position:absolute;
  left:8px;
  top:157px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2088 {
  position:absolute;
  left:184px;
  top:40px;
  width:168px;
  height:109px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2090 {
  position:absolute;
  left:184px;
  top:157px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2092 {
  position:absolute;
  left:8px;
  top:182px;
  width:168px;
  height:109px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2094 {
  position:absolute;
  left:8px;
  top:299px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2096 {
  position:absolute;
  left:184px;
  top:182px;
  width:168px;
  height:109px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2098 {
  position:absolute;
  left:184px;
  top:299px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2081_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2081_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2102 {
  position:absolute;
  left:8px;
  top:42px;
  width:168px;
  height:109px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2104 {
  position:absolute;
  left:8px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2106 {
  position:absolute;
  left:184px;
  top:42px;
  width:168px;
  height:109px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2108 {
  position:absolute;
  left:184px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2110 {
  position:absolute;
  left:8px;
  top:184px;
  width:168px;
  height:109px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2112 {
  position:absolute;
  left:8px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2114 {
  position:absolute;
  left:184px;
  top:184px;
  width:168px;
  height:109px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2116 {
  position:absolute;
  left:184px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2118 {
  position:absolute;
  left:8px;
  top:326px;
  width:168px;
  height:109px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2120 {
  position:absolute;
  left:8px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2122 {
  position:absolute;
  left:184px;
  top:326px;
  width:168px;
  height:109px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2124 {
  position:absolute;
  left:184px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2126 {
  position:absolute;
  left:8px;
  top:468px;
  width:168px;
  height:109px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2128 {
  position:absolute;
  left:8px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2130 {
  position:absolute;
  left:184px;
  top:468px;
  width:168px;
  height:109px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2132 {
  position:absolute;
  left:184px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2134 {
  position:absolute;
  left:328px;
  top:340px;
}
#u2134_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2134_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2136 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2134_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2138 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2139_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:326px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:155px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2142 {
  position:absolute;
  left:8px;
  top:42px;
  width:168px;
  height:109px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2144 {
  position:absolute;
  left:8px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2146 {
  position:absolute;
  left:184px;
  top:42px;
  width:168px;
  height:109px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2148 {
  position:absolute;
  left:184px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2150 {
  position:absolute;
  left:8px;
  top:184px;
  width:168px;
  height:109px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2152 {
  position:absolute;
  left:8px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2154 {
  position:absolute;
  left:184px;
  top:184px;
  width:168px;
  height:109px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2156 {
  position:absolute;
  left:184px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2139_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2139_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2160 {
  position:absolute;
  left:8px;
  top:42px;
  width:168px;
  height:109px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2162 {
  position:absolute;
  left:8px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2164 {
  position:absolute;
  left:184px;
  top:42px;
  width:168px;
  height:109px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2166 {
  position:absolute;
  left:184px;
  top:159px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2168 {
  position:absolute;
  left:8px;
  top:184px;
  width:168px;
  height:109px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2170 {
  position:absolute;
  left:8px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2172 {
  position:absolute;
  left:184px;
  top:184px;
  width:168px;
  height:109px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2174 {
  position:absolute;
  left:184px;
  top:301px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2176 {
  position:absolute;
  left:8px;
  top:326px;
  width:168px;
  height:109px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2178 {
  position:absolute;
  left:8px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2180 {
  position:absolute;
  left:184px;
  top:326px;
  width:168px;
  height:109px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2182 {
  position:absolute;
  left:184px;
  top:443px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2184 {
  position:absolute;
  left:8px;
  top:468px;
  width:168px;
  height:109px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2186 {
  position:absolute;
  left:8px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:109px;
}
#u2188 {
  position:absolute;
  left:184px;
  top:468px;
  width:168px;
  height:109px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:46px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2190 {
  position:absolute;
  left:184px;
  top:585px;
  width:168px;
  height:17px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2192 {
  position:absolute;
  left:328px;
  top:5px;
}
#u2192_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2192_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2194 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2192_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u2196 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2197 {
  position:absolute;
  left:0px;
  top:368px;
  width:360px;
  height:1px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2199 {
  position:absolute;
  left:8px;
  top:342px;
  width:57px;
  height:18px;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2201 {
  position:absolute;
  left:8px;
  top:8px;
  width:57px;
  height:18px;
  text-align:left;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:702px;
  width:360px;
  height:1px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2205 {
  position:absolute;
  left:8px;
  top:676px;
  width:57px;
  height:18px;
  text-align:left;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:36px;
  width:360px;
  height:1px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2210 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(10, 126, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u2215 {
  position:absolute;
  left:252px;
  top:6px;
  width:100px;
  height:13px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:136px;
  top:36px;
  width:89px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2219 {
  position:absolute;
  left:8px;
  top:36px;
  width:24px;
  height:24px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2226 {
  position:absolute;
  left:304px;
  top:593px;
  width:24px;
  height:24px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2228 {
  position:absolute;
  left:304px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2231 {
  position:absolute;
  left:213px;
  top:593px;
  width:24px;
  height:24px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2233 {
  position:absolute;
  left:213px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:31px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2238 {
  position:absolute;
  left:31px;
  top:593px;
  width:24px;
  height:24px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2241 {
  position:absolute;
  left:122px;
  top:593px;
  width:24px;
  height:24px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2244 {
  position:absolute;
  left:122px;
  top:617px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
