body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:-webkit-linear-gradient(270deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  background:linear-gradient(180deg, rgba(40, 43, 48, 1) 0%, rgba(40, 43, 48, 1) 2%, rgba(56, 63, 70, 1) 100%, rgba(56, 63, 70, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1194 {
  position:absolute;
  left:320px;
  top:592px;
  width:24px;
  height:24px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1196 {
  position:absolute;
  left:320px;
  top:616px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1199 {
  position:absolute;
  left:223px;
  top:592px;
  width:24px;
  height:24px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1201 {
  position:absolute;
  left:223px;
  top:616px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1204 {
  position:absolute;
  left:16px;
  top:592px;
  width:24px;
  height:24px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1206 {
  position:absolute;
  left:16px;
  top:616px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1208 {
  position:absolute;
  left:116px;
  top:590px;
  width:24px;
  height:24px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1211 {
  position:absolute;
  left:116px;
  top:616px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(10, 126, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1216 {
  position:absolute;
  left:252px;
  top:6px;
  width:100px;
  height:13px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(37, 155, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 3px rgba(139, 195, 74, 0.2);
  -webkit-box-shadow:0px 3px 3px rgba(139, 195, 74, 0.2);
  box-shadow:0px 3px 3px rgba(139, 195, 74, 0.2);
}
#u1218 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:48px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1220 {
  position:absolute;
  left:136px;
  top:36px;
  width:89px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:0px;
  top:250px;
  width:360px;
  height:336px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:160px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(83, 235, 191, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:50px;
  top:462px;
  width:80px;
  height:80px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1227 {
  position:absolute;
  left:62px;
  top:509px;
  width:57px;
  height:18px;
  text-align:left;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1229 {
  position:absolute;
  left:72px;
  top:470px;
  width:36px;
  height:36px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(83, 235, 191, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  position:absolute;
  left:230px;
  top:294px;
  width:80px;
  height:80px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1234 {
  position:absolute;
  left:249px;
  top:341px;
  width:43px;
  height:18px;
  text-align:left;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1236 {
  position:absolute;
  left:252px;
  top:302px;
  width:36px;
  height:36px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(83, 235, 191, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:230px;
  top:462px;
  width:80px;
  height:80px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1241 {
  position:absolute;
  left:242px;
  top:509px;
  width:57px;
  height:18px;
  text-align:left;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1243 {
  position:absolute;
  left:252px;
  top:470px;
  width:36px;
  height:36px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(83, 235, 191, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:50px;
  top:294px;
  width:80px;
  height:80px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1248 {
  position:absolute;
  left:76px;
  top:341px;
  width:29px;
  height:18px;
  text-align:left;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1250 {
  position:absolute;
  left:72px;
  top:302px;
  width:36px;
  height:36px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:0px;
  top:72px;
  width:360px;
  height:170px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:170px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:72px;
  width:130px;
  height:170px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1256 {
  position:absolute;
  left:138px;
  top:80px;
  width:214px;
  height:132px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53EBBF;
  text-align:left;
}
#u1258 {
  position:absolute;
  left:318px;
  top:220px;
  width:34px;
  height:14px;
  font-family:'Rotobo Regular', 'Rotobo';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53EBBF;
  text-align:left;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1260 {
  position:absolute;
  left:102px;
  top:96px;
  width:360px;
  height:562px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u1260_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:562px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1260_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1261_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1261_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:240px;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:240px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:112px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:404px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1264 {
  position:absolute;
  left:0px;
  top:240px;
  width:360px;
  height:404px;
}
#u1265 {
  position:absolute;
  left:2px;
  top:194px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1266 {
  position:absolute;
  left:16px;
  top:294px;
  width:328px;
  height:165px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1268 {
  position:absolute;
  left:16px;
  top:476px;
  width:97px;
  height:27px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:120px;
}
#u1270 {
  position:absolute;
  left:16px;
  top:511px;
  width:98px;
  height:120px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:52px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:120px;
}
#u1272 {
  position:absolute;
  left:131px;
  top:511px;
  width:98px;
  height:120px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:52px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:120px;
}
#u1274 {
  position:absolute;
  left:246px;
  top:511px;
  width:98px;
  height:120px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:52px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  position:absolute;
  left:16px;
  top:601px;
  width:98px;
  height:30px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1278 {
  position:absolute;
  left:16px;
  top:608px;
  width:99px;
  height:16px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:131px;
  top:601px;
  width:98px;
  height:30px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1282 {
  position:absolute;
  left:132px;
  top:608px;
  width:99px;
  height:16px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  position:absolute;
  left:246px;
  top:601px;
  width:98px;
  height:30px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1286 {
  position:absolute;
  left:246px;
  top:608px;
  width:99px;
  height:16px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:141px;
  top:252px;
  width:79px;
  height:30px;
  font-family:'宋体';
  font-weight:402;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:32px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1292 {
  position:absolute;
  left:327px;
  top:7px;
  width:24px;
  height:24px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1294 {
  position:absolute;
  left:8px;
  top:36px;
  width:24px;
  height:24px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
