body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11624 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
}
#u11625 {
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u11626 {
  position:absolute;
  left:1233px;
  top:16px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u11627 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11628 {
  position:absolute;
  left:1158px;
  top:27px;
  width:14px;
  height:14px;
  opacity:0.449999988079071;
}
#u11629 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11630 {
  position:absolute;
  left:304px;
  top:0px;
  width:105px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11631 {
  position:absolute;
  left:24px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u11632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u11632 {
  position:absolute;
  left:1182px;
  top:0px;
  width:53px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u11633 {
  position:absolute;
  left:2px;
  top:22px;
  width:49px;
  word-wrap:break-word;
}
#u11634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u11634 {
  position:absolute;
  left:1273px;
  top:0px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u11635 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u11636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u11636 {
  position:absolute;
  left:126px;
  top:20px;
  width:121px;
  height:25px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11637 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:875px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11638 {
  position:absolute;
  left:0px;
  top:64px;
  width:1440px;
  height:875px;
}
#u11639 {
  position:absolute;
  left:2px;
  top:430px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u11640 {
  position:absolute;
  left:116px;
  top:64px;
  width:300px;
  height:33px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u11641 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u11642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11642 {
  position:absolute;
  left:340px;
  top:94px;
  width:984px;
  height:814px;
}
#u11643 {
  position:absolute;
  left:2px;
  top:399px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:24px;
}
#u11645 {
  position:absolute;
  left:364px;
  top:115px;
  width:109px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:24px;
}
#u11646 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u11647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u11647 {
  position:absolute;
  left:786px;
  top:249px;
  width:81px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u11648 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:2px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11649 {
  position:absolute;
  left:540px;
  top:301px;
  width:600px;
  height:2px;
}
#u11650 {
  position:absolute;
  left:2px;
  top:-7px;
  width:596px;
  word-wrap:break-word;
}
#u11651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11651 {
  position:absolute;
  left:1094px;
  top:312px;
  width:97px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11652 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11653 {
  position:absolute;
  left:767px;
  top:312px;
  width:121px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11654 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11655 {
  position:absolute;
  left:520px;
  top:312px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11656 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11657 {
  position:absolute;
  left:540px;
  top:298px;
  width:8px;
  height:8px;
}
#u11658 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11659 {
  position:absolute;
  left:1132px;
  top:298px;
  width:8px;
  height:8px;
}
#u11660 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u11661 {
  position:absolute;
  left:511px;
  top:344px;
  width:67px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u11662 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u11663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:69px;
}
#u11663 {
  position:absolute;
  left:795px;
  top:161px;
  width:64px;
  height:69px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#00A854;
}
#u11664 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11665 {
  position:absolute;
  left:824px;
  top:298px;
  width:8px;
  height:8px;
}
#u11666 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u11668 {
  position:absolute;
  left:797px;
  top:692px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u11669 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u11670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11670 {
  position:absolute;
  left:116px;
  top:94px;
  width:224px;
  height:814px;
}
#u11671 {
  position:absolute;
  left:2px;
  top:399px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11672 {
  position:absolute;
  left:116px;
  top:108px;
}
#u11672_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u11673 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u11674 {
  position:absolute;
  left:48px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u11672_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11672_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u11675 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u11676 {
  position:absolute;
  left:48px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u11677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11677 {
  position:absolute;
  left:222px;
  top:0px;
  width:1px;
  height:34px;
}
#u11678 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11679 {
  position:absolute;
  left:116px;
  top:141px;
}
#u11679_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11679_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u11680 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u11681 {
  position:absolute;
  left:48px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u11682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11682 {
  position:absolute;
  left:222px;
  top:0px;
  width:1px;
  height:34px;
}
#u11683 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11679_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11679_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u11684 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u11685 {
  position:absolute;
  left:48px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u11686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11686 {
  position:absolute;
  left:545px;
  top:300px;
  width:283px;
  height:2px;
}
#u11687 {
  position:absolute;
  left:2px;
  top:-7px;
  width:279px;
  word-wrap:break-word;
}
#u11688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11688 {
  position:absolute;
  left:824px;
  top:298px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u11689 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u11690 {
  position:absolute;
  left:1133px;
  top:298px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u11691 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11692 {
  position:absolute;
  left:824px;
  top:300px;
  width:312px;
  height:2px;
}
#u11693 {
  position:absolute;
  left:2px;
  top:-7px;
  width:308px;
  word-wrap:break-word;
}
#u11694 {
  position:absolute;
  left:406px;
  top:567px;
  width:847px;
  height:45px;
}
#u11695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u11695 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11696 {
  position:absolute;
  left:16px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u11697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u11697 {
  position:absolute;
  left:128px;
  top:0px;
  width:242px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11698 {
  position:absolute;
  left:16px;
  top:11px;
  width:210px;
  word-wrap:break-word;
}
#u11699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u11699 {
  position:absolute;
  left:370px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11700 {
  position:absolute;
  left:16px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u11701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u11701 {
  position:absolute;
  left:525px;
  top:0px;
  width:68px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11702 {
  position:absolute;
  left:16px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u11703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u11703 {
  position:absolute;
  left:593px;
  top:0px;
  width:93px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11704 {
  position:absolute;
  left:16px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u11705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
}
#u11705 {
  position:absolute;
  left:686px;
  top:0px;
  width:156px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11706 {
  position:absolute;
  left:16px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u11707 {
  position:absolute;
  left:406px;
  top:489px;
  width:847px;
  height:45px;
}
#u11708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u11708 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11709 {
  position:absolute;
  left:16px;
  top:11px;
  width:92px;
  word-wrap:break-word;
}
#u11710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u11710 {
  position:absolute;
  left:124px;
  top:0px;
  width:236px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11711 {
  position:absolute;
  left:16px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u11712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u11712 {
  position:absolute;
  left:360px;
  top:0px;
  width:151px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11713 {
  position:absolute;
  left:16px;
  top:11px;
  width:119px;
  word-wrap:break-word;
}
#u11714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u11714 {
  position:absolute;
  left:511px;
  top:0px;
  width:310px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11715 {
  position:absolute;
  left:16px;
  top:11px;
  width:278px;
  word-wrap:break-word;
}
#u11716 {
  position:absolute;
  left:406px;
  top:411px;
  width:847px;
  height:45px;
}
#u11717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u11717 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11718 {
  position:absolute;
  left:16px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u11719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u11719 {
  position:absolute;
  left:108px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11720 {
  position:absolute;
  left:16px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u11721 {
  position:absolute;
  left:260px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11722 {
  position:absolute;
  left:16px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u11723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u11723 {
  position:absolute;
  left:368px;
  top:0px;
  width:154px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11724 {
  position:absolute;
  left:16px;
  top:12px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11725 {
  position:absolute;
  left:522px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11726 {
  position:absolute;
  left:16px;
  top:11px;
  width:48px;
  word-wrap:break-word;
}
#u11727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u11727 {
  position:absolute;
  left:602px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11728 {
  position:absolute;
  left:16px;
  top:12px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11729 {
  position:absolute;
  left:406px;
  top:450px;
  width:847px;
  height:45px;
}
#u11730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u11730 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11731 {
  position:absolute;
  left:16px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u11732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:40px;
}
#u11732 {
  position:absolute;
  left:109px;
  top:0px;
  width:733px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11733 {
  position:absolute;
  left:16px;
  top:12px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11734 {
  position:absolute;
  left:406px;
  top:528px;
  width:847px;
  height:45px;
}
#u11735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u11735 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11736 {
  position:absolute;
  left:16px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u11737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u11737 {
  position:absolute;
  left:128px;
  top:0px;
  width:242px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11738 {
  position:absolute;
  left:16px;
  top:11px;
  width:210px;
  word-wrap:break-word;
}
#u11739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u11739 {
  position:absolute;
  left:370px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11740 {
  position:absolute;
  left:16px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u11741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u11741 {
  position:absolute;
  left:525px;
  top:0px;
  width:317px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11742 {
  position:absolute;
  left:16px;
  top:11px;
  width:285px;
  word-wrap:break-word;
}
#u11743 {
  position:absolute;
  left:406px;
  top:606px;
  width:847px;
  height:45px;
}
#u11744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u11744 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11745 {
  position:absolute;
  left:16px;
  top:11px;
  width:97px;
  word-wrap:break-word;
}
#u11746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u11746 {
  position:absolute;
  left:129px;
  top:0px;
  width:241px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11747 {
  position:absolute;
  left:16px;
  top:11px;
  width:209px;
  word-wrap:break-word;
}
#u11748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u11748 {
  position:absolute;
  left:370px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u11749 {
  position:absolute;
  left:16px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u11750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u11750 {
  position:absolute;
  left:525px;
  top:0px;
  width:317px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11751 {
  position:absolute;
  left:16px;
  top:11px;
  width:285px;
  word-wrap:break-word;
}
